.header .container-fluid {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header .container-fluid .navbar-brand {
  color: white;
}
.header .container-fluid #navbarNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header .container-fluid #navbarNav ul li a {
  color: gray;
  transition: all 0.5s;
}
.header .container-fluid #navbarNav ul li a:hover {
  color: white;
}
.header header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  border-bottom: 1px solid #dee2e6;
}
.header header h1 {
  font-weight: bold;
}
.header header p {
  font-size: 20px;
  font-weight: 100;
}

.middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 30px;
}
.middle .left-box {
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.middle .left-box .top-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}
.middle .left-box .top-box .box-850 {
  height: 350px;
  background-color: #dee2e6;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: #6d747c;
  font-weight: 100;
}
.middle .left-box .top-box .texts {
  padding: 20px;
}
.middle .left-box .top-box .texts h5 {
  font-size: 14px;
  color: #6d747c;
  font-weight: 100;
}
.middle .left-box .top-box .texts a {
  text-decoration: none;
  color: white;
  background-color: #0d6efd;
  border-radius: 5px;
  padding: 8px 12px;
}
.middle .left-box .bottom-box {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 20px;
}
.middle .left-box .bottom-box .row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 400px;
  margin-bottom: 20px;
}
.middle .left-box .bottom-box .row .col {
  width: 50%;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 0;
}
.middle .left-box .bottom-box .row .col .box-700 {
  width: 100%;
  height: 200px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dee2e6;
  font-size: 60px;
  font-weight: 100;
}
.middle .left-box .bottom-box .row .col .text-inside {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.middle .left-box .bottom-box .row .col .text-inside h5 {
  font-size: 14px;
  padding-left: 2px;
  color: #6d747c;
  font-weight: 100;
}
.middle .left-box .bottom-box .row .col .text-inside h2 {
  font-size: 25px;
}
.middle .left-box .bottom-box .row .col .text-inside a {
  text-decoration: none;
  color: white;
  display: block;
  width: 110px;
  padding: 6px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  background-color: #0d6efd;
}
.middle .left-box .bottom-box .pagination {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.middle .left-box .bottom-box .pagination .newer {
  color: #6d747c;
  border-radius: 5px 0px 0px 5px;
  transition: all 0.5s;
}
.middle .left-box .bottom-box .pagination .newer:hover {
  background-color: #0d6efd;
  color: white;
}
.middle .left-box .bottom-box .pagination div {
  border-right: 1px solid #dee2e6;
  padding: 4px 8px;
  cursor: pointer;
  transition: all 0.5s;
}
.middle .left-box .bottom-box .pagination div:hover {
  background-color: #0d6efd;
}
.middle .left-box .bottom-box .pagination div:hover a {
  color: white;
}
.middle .left-box .bottom-box .pagination div a {
  text-decoration: none;
}
.middle .left-box .bottom-box .pagination #older {
  border: none;
}
.middle .right-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.middle .right-box .search-box {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}
.middle .right-box .search-box span {
  border-bottom: 1px solid #dee2e6;
  padding: 10px 12px;
  border-radius: 10px 10px 0 0;
  display: block;
  background-color: #f7f7f7;
}
.middle .right-box .search-box .input {
  padding: 12px;
  display: flex;
}
.middle .right-box .search-box .input input {
  border: 1px solid #dee2e6;
  width: 100%;
  border-radius: 5px 0 0 5px;
  padding: 0 8px;
}
.middle .right-box .search-box .input button {
  border-radius: 0 5px 5px 0px;
}
.middle .right-box .categories {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}
.middle .right-box .categories span {
  border-bottom: 1px solid #dee2e6;
  padding: 10px 12px;
  border-radius: 10px 10px 0 0;
  display: block;
  background-color: #f7f7f7;
}
.middle .right-box .categories .programming-languages {
  display: flex;
  flex-direction: row;
  padding: 15px 12px;
  justify-content: space-between;
  width: 70%;
}
.middle .right-box .categories .programming-languages .box-1 {
  display: flex;
  flex-direction: column;
}
.middle .right-box .categories .programming-languages .box-2 {
  display: flex;
  flex-direction: column;
}
.middle .right-box .side-widget {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}
.middle .right-box .side-widget span {
  border-bottom: 1px solid #dee2e6;
  padding: 10px 12px;
  border-radius: 10px 10px 0 0;
  display: block;
  background-color: #f7f7f7;
}
.middle .right-box .side-widget p {
  padding: 12px;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: #212529;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer p {
  color: white;
}/*# sourceMappingURL=style.css.map */