.header {
  .container-fluid {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .navbar-brand {
      //   border: 1px solid red;
      color: white;
    }

    #navbarNav {
      //   border: 1px solid green;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      ul {
        li {
          a {
            color: gray;
            transition: all 0.5s;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    h1 {
      font-weight: bold;
    }
    p {
      font-size: 20px;
      font-weight: 100;
    }
    // border: 1px solid;
    border-bottom: 1px solid #dee2e6;
  }
}

// Middle

.middle {
  width: 100%;
  //   height: 400px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 30px;
  //   border: 1px solid;

  .left-box {
    // border: 1px solid;
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .top-box {
      display: flex;
      flex-direction: column;
      border: 1px solid #dee2e6;
      border-radius: 10px;

      .box-850 {
        // border: 1px solid;
        height: 350px;
        background-color: #dee2e6;
        border-radius: 10px 10px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 100px;
        color: #6d747c;
        font-weight: 100;
      }

      .texts {
        padding: 20px;
        h5 {
          font-size: 14px;
          color: #6d747c;
          font-weight: 100;
        }

        a {
          text-decoration: none;
          color: white;
          background-color: #0d6efd;
          border-radius: 5px;
          padding: 8px 12px;
        }
      }
    }

    .bottom-box {
      display: flex;
      flex-direction: column;
      padding: 12px;
      gap: 20px;
      border-bottom: 1px solid;
      .row {
        display: flex;
        flex-direction: row;
        gap: 20px;
        height: 400px;
        margin-bottom: 20px;

        .col {
          width: 50%;
          border: 1px solid #dee2e6;
          border-radius: 5px;
          padding: 0;
          .box-700 {
            width: 100%;
            height: 200px;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #dee2e6;
            font-size: 60px;
            font-weight: 100;
          }

          .text-inside {
            display: flex;
            flex-direction: column;
            padding: 15px;
            h5 {
              font-size: 14px;
              padding-left: 2px;
              color: #6d747c;
              font-weight: 100;
            }

            h2 {
              font-size: 25px;
            }

            a {
              text-decoration: none;
              color: white;
              display: block;
              width: 110px;
              padding: 6px;
              border-radius: 5px;
              display: flex;
              flex-direction: row;
              background-color: #0d6efd;
            }
          }
        }
      }

      .pagination {
        border: 1px solid #dee2e6;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 20px;
        // width: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .newer {
          color: #6d747c;
          border-radius: 5px 0px 0px 5px;
          transition: all 0.5s;
          &:hover {
            background-color: #0d6efd;
            color: white;
          }
        }

        div {
          border-right: 1px solid #dee2e6;
          padding: 4px 8px;
          cursor: pointer;
          transition: all 0.5s;

          &:hover {
            background-color: #0d6efd;
            a {
              color: white;
            }
          }
          a {
            text-decoration: none;
          }
        }

        #older {
          border: none;
        }
      }
    }
  }

  .right-box {
    // border: 1px solid;
    width: 30%;
    // height: 500px;
    // border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .search-box {
      border: 1px solid #dee2e6;
      border-radius: 10px;

      span {
        border-bottom: 1px solid #dee2e6;
        padding: 10px 12px;
        border-radius: 10px 10px 0 0;
        display: block;
        background-color: #f7f7f7;
      }

      .input {
        padding: 12px;
        display: flex;
        input {
          border: 1px solid #dee2e6;
          width: 100%;
          border-radius: 5px 0 0 5px;
          padding: 0 8px;
        }

        button {
          border-radius: 0 5px 5px 0px;
        }
      }
    }

    .categories {
      border: 1px solid #dee2e6;
      border-radius: 10px;

      span {
        border-bottom: 1px solid #dee2e6;
        padding: 10px 12px;
        border-radius: 10px 10px 0 0;
        display: block;
        background-color: #f7f7f7;
      }

      .programming-languages {
        display: flex;
        flex-direction: row;
        padding: 15px 12px;
        justify-content: space-between;
        // border: 1px solid;
        width: 70%;
        .box-1 {
          display: flex;
          flex-direction: column;
        }

        .box-2 {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .side-widget {
      border: 1px solid #dee2e6;
      border-radius: 10px;
      span {
        border-bottom: 1px solid #dee2e6;
        padding: 10px 12px;
        border-radius: 10px 10px 0 0;
        display: block;
        background-color: #f7f7f7;
      }

      p {
        padding: 12px;
      }
    }
  }
}
